Hi <%= @contact.first_name %>,
<br/><br/>
I noticed Columbia University recently featured your research (<%= link_to @contact.info[:link], @contact.info[:link] %>).
<br/><br/>
I’m with experiment.com - we’re a crowd funding platform for scientific research (think Kickstarter for science). I'm personally reaching out because we’re interviewing a select number of research labs for the launch of Columbia University as one of experiment.com's newest partners.
<br/><br/>
After reading the article, I was curious if you had side projects you’d consider crowd funding (usually $5-$10k to collect some preliminary data). I can tell you more about what the process entails and answer any questions you have.
<br/><br/>
You can see a list of all the research projects experiment.com has funded <a href='https://experiment.com/discover/all/funded?utm_source=columbia_news&utm_medium=email&utm_campaign=columbia_university_news_email'>here</a>.
<br/><br/>
If you’re free this week, I’d be happy to give you a call.
<br/><br/>
cheers,
<br/>
Oscar
